.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    grid-gap: 24px;
    padding: 100px 70px 50px;
    margin: 0 70px;
    margin: 0;
    border-top: #E8E8E8 1px solid;
}

.card-list__button-container {
    padding: 50px 70px 80px;
}

.card-list__button {
    margin: 0  auto;
    text-align: center;
    display: block;
    width: 320px;
    height: 36px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: linear opacity .2s;
    border-radius: 6px;
}
.card-list__button_hidden{
    display: none;
}

.card-list__button:hover{
    opacity: .7;
}
.card-list__not-found{
    text-align: center;
}

@media screen and (max-width: 768px){

    .card-list{
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        padding: 72px 0 41px;
        margin: 0 30px;

    }

    .card-list__button-container {
        padding: 61px 0 89px;;
        margin: auto;
    }
}

@media screen and (max-width: 400px){

    .card-list__button{
        width: 66%;
    }
    .card-list{
        grid-template-columns: 1fr;
        grid-gap: 14px;
        padding: 40px 0 41px;
        margin: 0 10px;

    }
}