.portfolio {
        margin: 0 auto;
        padding: 0 5% 85px;
}
.portfolio__title {
    color: #A0A0A0;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 50px;
}
.portfolio__items-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.portfolio__item-container {
    display: flex;
    justify-content: space-between;
}
.portfolio__item {
    font-size: 30px;
    line-height: 50px;
    margin: 0 0 40px;
}
.portfolio__link {
    margin-top: 20px;
    cursor: pointer;
    transition: linear opecity .2s;
}
.portfolio__link:hover{
    opacity: .7;
}