.navBar{
    background-color: #F5F5F5;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.navBar__link{
    font-size: 13px;
    line-height: 16px;
    color: black;
    margin-left: 40px;
    transition: linear opacity .2s;
} 
.navBar__link:hover{
    opacity: .7;
}

.navBar__link:first-of-type{
    margin: 0;
}

@media screen and (max-width: 768px){
    .navBar__link{
        font-size: 13px;
    }

}
@media screen and (max-width: 520px){
    .navBar__link{
        font-size: 11px;
        margin-left: 24px;
    }

}