.footer {
    display: flex;
    justify-content: space-between;
    padding: 79px 70px 0;
    flex-direction: column;
}

.footer__title {
    font-size: 13px;
    color: #A0A0A0;
    text-align: center;
    margin: 0 0 41px;
    font-weight: 400;
}

.footer__container {
    border-top: 1px solid #E8E8E8 ;
    display: flex;
    justify-content: space-between;
}

.footer__year {
    font-size: 13px;
}

.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer__link {
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    line-height: 15px;
    color: black;
    cursor: pointer;
    transition: linear opacity .2s;
}
.footer__link:hover{
    opacity: .7;
}

@media screen and (max-width: 550px){
    .footer__container {
        flex-direction: column;
    }

    .footer__title {
        margin: 0 0 52px;
    }

    .footer__year {
        order: 2;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0px;
        font-size: 12px;
        color: #A0A0A0;

    }

    .footer__link {
        text-align: center;
        margin: 0 0 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 12px;
    }

    .footer__links {
        flex-direction: column;
    }

    .footer__link-center {
        display: flex;
        justify-content: center;
    }
}
