.promo{
    background-color: #465DFF;
    height: calc(100vh - 66px);
    background-image: url(../../../images/mainPicture.png);
    background-repeat: no-repeat;
    background-position: center 82px;
    position: relative;
}

.promo__title{
    font-size: 50px;
    line-height: 58px;
    /* or 116% */
    text-align: center;
    letter-spacing: -0.04em;
    color: white;
    height: 320px;
    margin: 0 auto;
    padding: 184px 0 0;
    max-width: 730px;
    
}