.search-form {
    padding: 81px 8% 61px;
}

.search-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9F9F9;
    height: 46px;
    border-radius: 40px;
    padding-left: 22px;
    padding-right: 6px;
}

.search-form__input {
    width: 100%;
    border: none;
    border-radius: 40px;
    margin: 14px 0 14px;
    outline: none;
    background: #F9F9F9;

}

.search-form__input::placeholder {
    color: #A0A0A0;
}

.search-form__button {
    font-size: 11px;
    color: white;
    height: 34px;
    padding: 8px 8px;
    text-align: center;
    background-color: #FF6838;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    background-image: url(../../../images/strel.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 34px;
    cursor: pointer;
    transition: linear opacity .2s;
}
    .search-form__button:hover{
        opacity: .7;
    }

.search-form__short-film {
    display: flex;
    justify-content: center;
    margin-top: 47px;
}

.search-form__short-film-paragraph {
    font-size: 14px;
    margin: 0 0 0 12px;
}


@media screen and (max-width: 768px) {
    
    .search-form {
        padding: 81px 5% 61px;
    }

}
