.not-found{
text-align: center;
}
.not-found__code{
    margin: 246px 0 0;
    font-style: normal;
font-weight: normal;
font-size: 140px;
line-height: 169px;
text-align: center;

}
.not-found__caption{
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px
}
.not-found__btn{
    margin-top: 184px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FF6838;
background-color: white;
border: none;
cursor: pointer;
}